.sidebar {
  position: fixed;

  right: 0;
  bottom: 0;
}

.card-info {
  background-color: black;

  margin: 0;
  padding: 0;
}

.info-text {
  color: white;

  list-style: none;

  max-height: 50dvh;
  width: 100%;
  
  overflow-y: auto;

  margin: 0;
  padding-left: 10px;
}

.title {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.explanation {
  font-family: 'Courier New', Courier, monospace;
}

.btn-info {
  border: none;
  border-radius: 10px;

  margin: 10px;
  padding: 10px;
}

.btn-info-under {
  border: none;
  border-radius: 10px;

  padding: 10px;
}

@media (max-width: 600px) {
  .card-info {
    min-height: 40dvh;
  }

  .btn-info-under {
    margin: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1023px) {
  .card-info {
    min-height: 100dvh;
    width: 400px;
  }

  .btn-info-under {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  .card-info {
    min-height: 100dvh;
    width: 600px;
  }

  .btn-info-under {
    margin: 30px;
  }
}
