.info-text {
  color: #FFFFFF;

  list-style: none;

  margin: 0;
  padding: 0 10px;
}

.btn-info {
  margin: 10px;
  padding: 5px;
}

.title {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;

  margin: 0;
  padding: 0.5rem;
}

.explanation {
  font-family: 'Courier New', Courier, monospace;

  margin: 0;
  padding: 0.5rem;
}

.card-info {
  background-color: #2F4F4F;

  border-radius: 0.5rem 0.5rem 0 0;
}

.sidebar {
  padding: 1rem 1rem 0 1rem;
}

.btn-info-under {
  position: absolute;

  right: 1rem;
  bottom: 3rem;
}
