.big-title {
  padding: 10px;
}

.big-title > h3 {
  color: wheat;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.big-title > p {
  color: wheat;
  font-family: 'Courier New', Courier, monospace;
}
